/DDStartProjectBackEnd/obj/
/.vs/DDStartProjectBackEnd/DesignTimeBuild/.dtbcache.v2
/.vs/DDStartProjectBackEnd/v16/.suo
/.vs/DDStartProjectBackEnd/v16/.suo
/AspNetCore.Identity.Dapper/bin/
/AspNetCore.Identity.Dapper/obj/
/DDStartProjectBackEnd/obj/
/DDStartProjectBackEnd/bin/
/DDStartProjectBackEnd/bin/*
/.vs/DDStartProjectBackEnd/config/applicationhost.config
/DDStartProjectBackEnd/bin/Debug/net5.0/DDStartProjectBackEnd.runtimeconfig.dev.json
/DDStartProjectBackEnd/obj/DDStartProjectBackEnd.csproj.nuget.dgspec.json
/DDStartProjectBackEnd/obj/DDStartProjectBackEnd.csproj.nuget.g.props
/DDStartProjectBackEnd/obj/Debug/net5.0/DDStartProjectBackEnd.assets.cache
/DDStartProjectBackEnd/obj/Debug/net5.0/DDStartProjectBackEnd.csproj.FileListAbsolute.txt
/DDStartProjectBackEnd/obj/Debug/net5.0/DDStartProjectBackEnd.genruntimeconfig.cache
/DDStartProjectBackEnd/obj/project.assets.json
/DDStartProjectBackEnd/obj/project.nuget.cache
/DDStartProjectBackEnd/bin/Debug/net5.0/appsettings.json
/.vs/DDStartProjectBackEnd/v17/*
